.PostCategoriesNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

/*.PostCategoriesNav > * + * {*/
/*  margin-left: 1rem;*/
/*}*/

.PostCategoriesNav .taCenter {
  right: 0;
  position: absolute;
}

.PostCategoriesNav .taCenter:focus {
  outline: none;
}

.PostCategoriesNav .taCenter::placeholder {
  color: black;
}

@media (max-width: 600px) {
    .PostCategoriesNav {
        position: relative;
        width: 100%;
    }
    .taCenter .SVGIcon {
        right: 0;
    }
}
